<div class="row">
    <div class="col-md-12">
        {{#unless depart}}
          <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
          </div>
          {{/unless}}
        <h2>{{depart.[0].departmentName}} - Department: {{depart.[0].departmentId}}</h2>
        <hr />
        <form method="post" action="/department/update">
            <input type="hidden" name="departmentId" value="{{depart.[0].departmentId}}" />

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="departmentName">Department Name</label>
                        <input class="form-control" id="firstName" name="departmentName" type="text" value="{{depart.[0].departmentName}}" />
                    </div>
                </div>
            </div>

            <input type="submit" class="btn btn-primary pull-right" value="Update Department" /><br /><br /><br />
        </form>
    </div>
</div>